* {
	font-family: serif;
}

@keyframes type {
  from { width: 0; } 
} 

#welcomeMessage {
  color: gray; 
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
}

.typing {
  animation: type 4s steps(30, end)
}